.input_group {
  @apply flex border rounded-xl;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-xl bg-[#fff];
  @apply focus:outline-none border-none;
}

.button {
  @apply w-full bg-primary rounded-md;
  @apply py-3 text-gray-50 text-lg transition duration-300;
}

.button:hover {
  @apply opacity-80;
}

.button_custom {
  @apply w-full border border-primary py-3 flex justify-center gap-2 hover:opacity-60 transition duration-300;
}

.input_text + * {
  color: #bbbbbb;
}

.input_text:focus + * {
  color: #d27c0bd6;
}

.input_text:not([type="email"]) ~ span:hover * {
  color: #d27c0bd6;
  cursor: pointer;
}
